@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border-spacing: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.black {
    color: #000000;
}

.wrap-site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    transition: opacity .25s ease, visibility 0s ease .25s;
}

.outer-wrap {
    overflow: hidden;
}

.wrap {
    position: relative;
}

.site-header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.site-header__container {
    background-color: #314068;
    height: 93px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 57px;
}

.site-header__logo {
    width: 316px;
    height: 36.54px;
    background-image: url('assets/header-icons/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.user-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.022em;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-info__email{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.022em;
    text-align: right;

}

.user-info__image {
    background-image: url('assets/header-icons/profile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 53px;
    height: 53px;
    top: 20px;
    left: 1817px;
    gap: 0px;
    opacity: 0px;
    margin: 0 10px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    background-color: #F6F7F9;
}

.side-menu {
    width: 382px;
    top: 6px;
    gap: 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px 0px #B9B2E233;
    color: #585A5B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 133px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 41px;
}

.side-menu__items{
    display: flex;
    flex-direction: column;
}

.side-menu__item{
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    width: 146px;
    height: 33px;
    top: 317px;
    left: 95px;
    gap: 0px;
    opacity: 0px;
    border-radius: 20px;
    width: 287px;
    height: 62px;
}

.side-menu__item svg {
    width: 26.3px;
}


.side-menu-item-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.side-menu__item.side-menu__item--active {
    color: #3C6CA4;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.023em;
    text-align: left;
    background: #E9F2FF80;
    border-radius: 10px;
    background: rgba(233, 242, 255, 0.5);
}

.side-menu__item svg {
    margin-right: 44px;
}

.side-menu__logout {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    width: 146px;
}

.side-menu__logout-pic {
    background-image: url('assets/dashboard-icons/logout.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.upcoming-appointments {
    width: 890px;
    height: 424px;
    margin-bottom: 34px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 18px 44px;
}

.upcoming-appointments-header {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.upcoming-appointments table {
    width: 798px;
    border-spacing: 0;
}

.upcoming-appointments-table-head {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    border-radius: 10px;
}

.upcoming-appointments-table-head td {
    padding: 20px 29px;
}

.upcoming-appointments-table-head td:nth-child(2) {
    width: 40%;
}

.upcoming-appointments-actions {
    display: flex;
    align-items: flex-start;
}

.upcoming-appointments-actions p {
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    box-shadow: 0px 4px 5px 0px rgba(185, 178, 226, 0.15);
    background: rgb(251, 176, 59);
    padding: 8px 15px;
    color: #FFFFFF;
}

.upcoming-appointments .time-td {
    color: rgb(88, 90, 91);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    width: 20%;
}

.upcoming-appointments .name-td {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    width: 40%;
}

.upcoming-appointments tbody {
    display: flex;
    flex-direction: column;
}

.upcoming-appointments tr {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(224, 233, 244);
}

.upcoming-appointments tr:last-child {
    border-bottom: 0;
}

.upcoming-appointments tbody td {
    padding: 20px 29px;
}

.upcoming-appointments tbody td:nth-child(3n) {
    padding: 20px 10px 20px 29px;
}

.view-more {
    color: rgb(60, 108, 164);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-left: 28px;
}

.dashboard {
    width: 100%;
    padding: 30px 45px;
    overflow-y: scroll;
    height: 100vh;
}

.dashboard .dashboard__back {
    display: flex;
    align-items: baseline;
    margin-top: 95px;
}

.dashboard .dashboard__back-text {
    color: #3C6CA4;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    margin-bottom: 43px;
    margin-left: 20px;
}

.main-h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    padding: 10px 20px;
}

.dashboard .dashboard__back-text:hover {
    cursor: pointer;
}

.dashbord-main-blocks {
    display: flex;
}

.dashboard-main-block-one {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 44px;
}

.dashboard-main-block-two {
    width: fit-content;
    height: 809px;
}

.appointment-requests {
    width: 515px;
    height: 809px;
    box-shadow: 0px 6px 10px 0px #B9B2E233;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 18px 44px;
}

.appointment-requests-header {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}


.appointment-requests-block thead {
    border-radius: 10px;
    color: rgb(60, 108, 164);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 10px;
    width: 427px;
    border-radius: 10px;
    background: rgb(244, 248, 255);
}

.appointment-requests-block__name {
    display: flex;
    flex-direction: column;
}

.appointment-requests-block table {
    border-collapse: collapse;
}

.appointment-requests-block table tbody tr {
    border-bottom: 1px solid rgb(224, 233, 244);
}

.appointment-requests-block table tbody tr:last-child {
    border-bottom: none;
}

.appointment-requests-block table td {
    text-align: left;
    padding: 20px 25px;
    width: 65%;
}

.appointment-requests_icons {
    display: flex;
}


.appointment-requests-block__name span:nth-child(1) {
    color: rgb(30, 30, 30);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}

.appointment-requests-block__name span:nth-child(2) {
    color: rgb(88, 90, 91);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}











/* Upcoming Appointments */





.upcoming-appointments {
    box-shadow: 0px 6px 10px 0px #B9B2E233;
    margin-bottom: 37px;
}

.upcoming-appointments-table-head {
    background-color: #E9F2FF80;
    color: #3C6CA4;
}



.calendars-container {
    display: flex;
}




/* ---------- CALENDAR - DAY---------- */

.calendar-day-container {
    display: flex;
    width: 496px;
    height: 345px;
    box-shadow: 0px 6px 10px 0px #B9B2E233;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 42px;

}

.calendar-time {
    width: 495px;
    height: 345px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.arrow {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
}

.right__arrow {
    background-color: rgb(255, 255, 255);
    margin-right: 50px;
}

.left__arrow {
    background-color: rgb(255, 255, 255);
}

.day {
    width: 137px;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 47px;
    margin-top: 25px;
    margin-bottom: 17px;
}

.left__arrow {
    margin-right: 20px;
}

.time {
    width: 40px;
    height: 254px;
    margin-left: 47px;
}

.time-list {
    background-color: rgb(244, 248, 255);
    list-style: none;
    width: 49px;
    height: 254px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-left: 47px;
    margin-bottom: 20px;
    text-align: center;
}

.time-list__item {
    color: rgb(60, 108, 164);
    font-weight: 500;
    font-size: 12px;
    height: 15px;
    background-color: rgb(244, 248, 255);
    margin-top: 15px;

}

.line {
    width: 311px;
    height: 1px;
    background-color: rgb(224, 233, 244);
    border-radius: 1px;
}

.lines {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    position: relative;
    left: 87px;
    bottom: 240px;
    width: 311px;
    margin-left: 9px;
}

.wheel {
    position: relative;
    right: 48px;
    top: 72px;
}

.notes {
    background-color: rgb(178, 206, 239);
}

.calendar-event {
    width: 135px;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(178, 206, 239);
    position: relative;
}

.calendar-event-text-block {
    padding-top: 8px;
    padding-left: 9px;
}

.calendar-event-text-block-name {
    width: 76px;
    height: 10px;
    color: rgb(60, 108, 164);
    font-size: 8px;
    font-weight: 500;
    background-color: rgb(178, 206, 239);
}

.calendar-event-text-block-time {
    width: 76px;
    height: 10px;
    font-size: 6px;
    font-weight: 400;
    color: rgb(60, 108, 164);
    background-color: rgb(178, 206, 239);
}

.calendar-event-text-block-eval-button {
    font-size: 8px;
    font-weight: 600;
    color: rgb(49, 64, 104);
    background-color: rgb(178, 206, 239);
    height: 10px;
    margin-top: 8px;
}

.Wbox {
    position: relative;
    left: 100px;
    bottom: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.pen {
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 81.5px;
    bottom: 21px;
}

.mini__arr {
    background-color: rgb(178, 206, 239);
    position: relative;
    left: 55px;
    bottom: 20px;
}



/* ---------- CALENDAR - MONTH---------- */

.calendar-month-container {
    width: 355px;
    height: 345px;
    top: 679px;
    left: 955px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0px 6px 10px 0px #B9B2E233;
    background-color: #FFFFFF;
    border-radius: 20px;


}

.calendar-month {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin: 23px 32px;
}

.calendar-month-container tr {
    display: block;
    text-align: center;
}

.calendar-month-container td {
    width: 50px;
    height: 40px;
}

.calendar-month-container tbody td {
    color: rgb(49, 64, 104);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.calendar-month-header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-month-header {
    width: fit-content;
    display: inline;
    font-weight: 500;
    font-size: 20px;
}

.calendar-month-header-block .arrow {
    width: fit-content;
}

.calendar-month tbody {
    color: #7c8a95;
}

.calendar-month tbody td:hover {
    border: 2px solid rgb(49, 64, 104);
    border-radius: 50%;
}


.day-of-week {
    color: #3C3C434D;
    width: 279px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

.current-day {
    background: #00addf;
    color: #f9f9f9;
}

.calendar-month .event {
    cursor: pointer;
    position: relative;
    border-radius: 22px;
    background: rgb(211, 230, 252);
}



.event.current-day:after {
    background: #f9f9f9;
}

.next-month {
    display: none;
}

div.menu-trigger {
    width: 50px;
    height: 50px;
    margin: 20px;
    display: none;
    cursor: pointer;
}


section.side-menu.menu-active {
    position: absolute;
    height: calc(100vh - 90px);
    z-index: 100;
    top: 93px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1919px) {

    /* CSS rules for medium desktops and laptops */
    .dashbord-main-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dashboard-main-block-one {
        margin: 0 auto;
    }

    .appointment-requests {
        margin-top: 37px;
        width: 890px;
    }

    div.appointment-requests-block>table {
        width: 800px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1350px) {

    /* CSS rules for tablets */
    .side-menu {
        display: none;
    }

    .user-info {
        display: none;
    }

    div.menu-trigger {
        display: block;
    }

    section.side-menu.menu-active {
        display: flex
    }

    div.calendar-month-container {
        margin: 37px auto;
    }

    .calendars-container {
        display: flex;
        flex-direction: column;
    }

    .calendar-day-container {
        margin: auto;
        height: 370px;
    }

    .appointment-requests {
        width: 500px;
        height: fit-content;
    }

    .upcoming-appointments {
        width: 500px;
        margin: 37px auto;
    }

    .calendar-time {
        width: 500px;
    }

    .calendar-month-container {
        width: 500px;
    }

    .upcoming-appointments-table-head td:nth-child(2) {
        width: fit-content;
    }

    .upcoming-appointments .name-td {
        width: fit-content;
    }

    .upcoming-appointments table {
        width: 100%;
    }

    .upcoming-appointments-actions p {
        padding: 0;
    }

    div.appointment-requests-block>table {
        width: fit-content;
    }
}

@media only screen and (max-width: 767px) {

    /* CSS rules for smartphones */
    .dashboard .dashboard__back {
        margin-top: 0;
    }

    .dashboard-main-blocks {
        margin: 0 0 93px 0;
    }

    .dashboard-main-block-two {
        height: auto;
    }

    .side-menu {
        display: none;
    }

    .user-info {
        display: none;
    }

    div.menu-trigger {
        display: block;
    }

    section.side-menu.menu-active {
        display: flex
    }

    .header-container {
        padding: 0;
    }

    .dashboard {
        padding: 0;
    }


    .dashbord-main-blocks {
        margin: 0 0 93px 0;
    }


    .calendars-container {
        display: flex;
        flex-direction: column;
    }

    div.calendar-month-container {
        margin: auto;
        width: 370px;
    }

    .calendar-day-container {
        margin-bottom: 37px;
    }

    .calendar-day-container {
        width: fit-content;
        margin: 37px auto;
    }

    .calendar-time {
        width: 495px;
        height: 345px;
        border-radius: 20px;
    }

    .day {
        font-size: 16px;
    }

    .lines {
        width: 200px;
    }

    .line {
        width: 200px;
    }

    .appointment-requests {
        width: 370px;
        height: fit-content;
    }

    .appointment-requests-header {
        font-size: 16px;
    }

    div.appointment-requests-block>table {
        width: fit-content;
    }

    .upcoming-appointments {
        width: 370px;
        height: fit-content;
        margin: 37px 0 0 0;
    }

    .upcoming-appointments-header {

        font-size: 16px;

    }

    .upcoming-appointments-table-head td:nth-child(2) {
        width: fit-content;
    }

    .upcoming-appointments .name-td {
        width: fit-content;
    }

    .upcoming-appointments table {
        width: 100%;
    }


    .upcoming-appointments-table-head td {
        padding: 5px;
    }

    .upcoming-appointments tbody td {
        padding: 10px 10px;
    }


    .upcoming-appointments-actions p {
        padding: 0;
    }

    .view-more {
        margin: 0;
    }

    .calendar-time {
        width: 370px;
    }

    .calendar-month-header {
        font-size: 16px;
    }

}
